<div class="text-center">
  <h1>Edit</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>

      <div class="form-group">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

      <div class="form-group">
        <%= f.label :img, 'Image' %>
        <%= f.file_field :img, class: 'form-control' %>
      </div>


      <%= f.submit 'edit', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
